In [1]:
# Importamos pandas y numpy
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats

In [2]:
pd.options.display.float_format = '{:,.2f}'.format

_____________________________________________________________________________________________________________________________________________________________________________________________

# CSV - POBLACIÓN ACTIVA

_____________________________________________________________________________________________________________________________________________________________________________________________

In [3]:
#Expecificamos ruta

url = r'https://raw.githubusercontent.com/cdeniaca/Group-7/refs/heads/main/Poblacion_Agrupado_Limpia.csv'

In [4]:
#Cargamos el df

población_agrupada_df = pd.read_csv(url, sep=',')

In [5]:
población_agrupada_df

,AÑO,Comunidad autónoma,Ocupados,Parados,Inactivos,Total Actividad
0,2018,Andalucía,"3,030,750.00","904,625.00","2,983,100.00","6,918,475.00"
1,2018,Aragón,"573,825.00","68,250.00","452,275.00","1,094,350.00"
2,2018,"Asturias, Principado de","391,900.00","61,750.00","439,825.00","893,475.00"
3,2018,"Balears, Illes","560,175.00","72,925.00","349,600.00","982,700.00"
4,2018,Canarias,"897,200.00","225,325.00","735,800.00","1,858,325.00"
...,...,...,...,...,...,...
109,2023,Melilla,"26,775.00","9,725.00","29,375.00","65,875.00"
110,2023,"Murcia, Región de","668,625.00","97,950.00","519,850.00","1,286,425.00"
111,2023,"Navarra, Comunidad Foral de","298,725.00","33,000.00","232,575.00","564,300.00"
112,2023,País Vasco,"995,750.00","83,375.00","818,725.00","1,897,850.00"
113,2023,"Rioja, La","146,625.00","15,150.00","112,600.00","274,375.00"

_____________________________________________________________________________________________________________________________________________________________________________________________

# CSV - TELETRABAJO

_____________________________________________________________________________________________________________________________________________________________________________________________

In [6]:
#Expecificamos ruta

url_teletrabajo = r'https://raw.githubusercontent.com/cdeniaca/Group-7/refs/heads/main/Poblacion_Teletrabajo_Limpia.csv'

In [9]:
#Cargamos el df

población_teletrabajo_df = pd.read_csv(url_teletrabajo, sep=',')

In [10]:
población_teletrabajo_df

,AÑO,Comunidad autónoma,Han teletrabajado,No han teletrabajado aunque su trabajo les permitiría teletrabajar,No han teletrabajado porque su trabajo no les permitiría teletrabajar
0,2021,Andalucía,396.69,557.84,"2,144.58"
1,2021,Aragón,70.27,96.69,395.18
2,2021,"Asturias, Principado de",42.93,70.04,263.20
3,2021,"Balears, Illes",41.82,91.05,396.51
4,2021,Canarias,123.35,115.39,557.06
5,2021,Cantabria,15.17,47.35,167.35
6,2021,Castilla - La Mancha,67.62,134.36,664.88
7,2021,Castilla y León,96.93,135.51,708.60
8,2021,Cataluña,761.12,484.65,"2,006.89"
9,2021,Ceuta,1.37,9.73,8.72
10,2021,Comunitat Valenciana,290.27,338.96,"1,243.47"
11,2021,Extremadura,44.02,81.30,271.28
12,2021,Galicia,107.22,197.56,686.98
13,2021,"Madrid, Comunidad de","1,001.73",479.09,"1,422.75"
14,2021,Melilla,2.09,3.16,26.01
15,2021,"Murcia, Región de",62.32,133.62,403.26
16,2021,"Navarra, Comunidad Foral de",29.64,56.79,162.66
17,2021,País Vasco,114.66,206.40,527.46
18,2021,"Rioja, La",14.91,24.00,96.66
19,2022,Andalucía,320.63,607.14,"2,483.15"
20,2022,Aragón,44.51,105.79,427.79
21,2022,"Asturias, Principado de",29.48,68.27,290.52
22,2022,"Balears, Illes",41.76,105.33,476.79
23,2022,Canarias,104.19,132.97,756.15
24,2022,Cantabria,21.78,46.71,193.94
25,2022,Castilla - La Mancha,47.90,146.48,725.93
26,2022,Castilla y León,121.30,158.09,714.90
27,2022,Cataluña,772.48,783.11,"1,987.91"
28,2022,Ceuta,2.10,4.85,21.40
29,2022,Comunitat Valenciana,247.00,493.99,"1,406.80"
30,2022,Extremadura,24.55,73.65,311.39
31,2022,Galicia,91.06,210.07,733.68
32,2022,"Madrid, Comunidad de",784.42,510.35,"1,858.67"
33,2022,Melilla,1.34,5.69,28.30
34,2022,"Murcia, Región de",54.05,136.68,430.53
35,2022,"Navarra, Comunidad Foral de",32.06,76.94,196.62
36,2022,País Vasco,123.05,182.76,599.86
37,2022,"Rioja, La",11.03,28.10,107.98
38,2023,Andalucía,286.09,656.71,"2,308.26"
39,2023,Aragón,52.86,108.10,432.98
40,2023,"Asturias, Principado de",34.84,70.88,294.35
41,2023,"Balears, Illes",77.50,102.53,416.09
42,2023,Canarias,109.63,206.18,689.95
43,2023,Cantabria,16.68,40.65,203.24
44,2023,Castilla - La Mancha,45.66,181.74,686.79
45,2023,Castilla y León,83.67,163.40,737.26
46,2023,Cataluña,730.42,666.42,"2,368.22"
47,2023,Ceuta,1.14,1.82,21.28
48,2023,Comunitat Valenciana,297.91,458.83,"1,417.81"
49,2023,Extremadura,35.14,68.71,286.55
50,2023,Galicia,94.59,219.97,786.41
51,2023,"Madrid, Comunidad de",793.44,535.57,"1,976.99"
52,2023,Melilla,2.63,7.45,23.63
53,2023,"Murcia, Región de",47.13,124.79,491.86
54,2023,"Navarra, Comunidad Foral de",36.40,51.92,194.14
55,2023,País Vasco,131.90,243.12,609.28
56,2023,"Rioja, La",10.76,32.58,100.18

_____________________________________________________________________________________________________________________________________________________________________________________________

# CSV - POBLACIÓN CON TELETRABAJO

_____________________________________________________________________________________________________________________________________________________________________________________________

In [12]:
# Convertir la columna 'AÑO' a tipo int en ambos DataFrames, o cambiar a str si prefieres.
población_agrupada_df['AÑO'] = población_agrupada_df['AÑO'].astype(int)
población_teletrabajo_df['AÑO'] = población_teletrabajo_df['AÑO'].astype(int)

In [13]:
df_final_teletrabajo = pd.merge(población_agrupada_df, población_teletrabajo_df, on=['Comunidad autónoma', 'AÑO'], how='inner')

In [14]:
df_final_teletrabajo

,AÑO,Comunidad autónoma,Ocupados,Parados,Inactivos,Total Actividad,Han teletrabajado,No han teletrabajado aunque su trabajo les permitiría teletrabajar,No han teletrabajado porque su trabajo no les permitiría teletrabajar
0,2021,Andalucía,"3,152,500.00","881,400.00","3,043,700.00","7,077,600.00",396.69,557.84,"2,144.58"
1,2021,Aragón,"588,625.00","67,800.00","467,950.00","1,124,375.00",70.27,96.69,395.18
2,2021,"Asturias, Principado de","391,475.00","55,125.00","439,275.00","885,875.00",42.93,70.04,263.20
3,2021,"Balears, Illes","538,000.00","89,950.00","365,450.00","993,400.00",41.82,91.05,396.51
4,2021,Canarias,"830,425.00","254,550.00","790,500.00","1,875,475.00",123.35,115.39,557.06
5,2021,Cantabria,"244,975.00","31,025.00","223,875.00","499,875.00",15.17,47.35,167.35
6,2021,Castilla - La Mancha,"847,875.00","157,475.00","713,050.00","1,718,400.00",67.62,134.36,664.88
7,2021,Castilla y León,"975,975.00","128,225.00","960,100.00","2,064,300.00",96.93,135.51,708.60
8,2021,Cataluña,"3,490,075.00","462,075.00","2,507,400.00","6,459,550.00",761.12,484.65,"2,006.89"
9,2021,Ceuta,"24,350.00","11,450.00","28,600.00","64,400.00",1.37,9.73,8.72
10,2021,Comunitat Valenciana,"2,076,750.00","397,875.00","1,808,600.00","4,283,225.00",290.27,338.96,"1,243.47"
11,2021,Extremadura,"394,925.00","99,750.00","409,525.00","904,200.00",44.02,81.30,271.28
12,2021,Galicia,"1,087,075.00","141,825.00","1,115,475.00","2,344,375.00",107.22,197.56,686.98
13,2021,"Madrid, Comunidad de","3,146,475.00","416,450.00","2,063,125.00","5,626,050.00","1,001.73",479.09,"1,422.75"
14,2021,Melilla,"29,950.00","9,600.00","25,475.00","65,025.00",2.09,3.16,26.01
15,2021,"Murcia, Región de","638,750.00","110,200.00","495,375.00","1,244,325.00",62.32,133.62,403.26
16,2021,"Navarra, Comunidad Foral de","285,850.00","34,275.00","230,200.00","550,325.00",29.64,56.79,162.66
17,2021,País Vasco,"946,825.00","108,575.00","820,550.00","1,875,950.00",114.66,206.40,527.46
18,2021,"Rioja, La","142,500.00","18,700.00","108,025.00","269,225.00",14.91,24.00,96.66
19,2022,Andalucía,"3,275,750.00","774,150.00","3,101,300.00","7,151,200.00",320.63,607.14,"2,483.15"
20,2022,Aragón,"599,850.00","63,875.00","466,600.00","1,130,325.00",44.51,105.79,427.79
21,2022,"Asturias, Principado de","383,825.00","54,950.00","449,000.00","887,775.00",29.48,68.27,290.52
22,2022,"Balears, Illes","575,975.00","68,425.00","362,450.00","1,006,850.00",41.76,105.33,476.79
23,2022,Canarias,"925,200.00","198,075.00","775,450.00","1,898,725.00",104.19,132.97,756.15
24,2022,Cantabria,"249,150.00","26,375.00","228,200.00","503,725.00",21.78,46.71,193.94
25,2022,Castilla - La Mancha,"871,550.00","149,500.00","717,775.00","1,738,825.00",47.90,146.48,725.93
26,2022,Castilla y León,"1,010,050.00","111,375.00","944,100.00","2,065,525.00",121.30,158.09,714.90
27,2022,Cataluña,"3,593,525.00","398,000.00","2,558,525.00","6,550,050.00",772.48,783.11,"1,987.91"
28,2022,Ceuta,"27,850.00","12,050.00","24,850.00","64,750.00",2.10,4.85,21.40
29,2022,Comunitat Valenciana,"2,216,100.00","339,800.00","1,797,550.00","4,353,450.00",247.00,493.99,"1,406.80"
30,2022,Extremadura,"409,525.00","85,750.00","407,675.00","902,950.00",24.55,73.65,311.39
31,2022,Galicia,"1,103,550.00","136,900.00","1,108,625.00","2,349,075.00",91.06,210.07,733.68
32,2022,"Madrid, Comunidad de","3,218,500.00","406,600.00","2,101,775.00","5,726,875.00",784.42,510.35,"1,858.67"
33,2022,Melilla,"27,775.00","9,600.00","27,050.00","64,425.00",1.34,5.69,28.30
34,2022,"Murcia, Región de","650,675.00","102,250.00","511,300.00","1,264,225.00",54.05,136.68,430.53
35,2022,"Navarra, Comunidad Foral de","295,550.00","31,875.00","230,175.00","557,600.00",32.06,76.94,196.62
36,2022,País Vasco,"967,275.00","94,250.00","818,750.00","1,880,275.00",123.05,182.76,599.86
37,2022,"Rioja, La","145,775.00","15,375.00","109,550.00","270,700.00",11.03,28.10,107.98
38,2023,Andalucía,"3,383,850.00","754,975.00","3,088,850.00","7,227,675.00",286.09,656.71,"2,308.26"
39,2023,Aragón,"611,300.00","57,350.00","472,650.00","1,141,300.00",52.86,108.10,432.98
40,2023,"Asturias, Principado de","392,500.00","54,150.00","445,125.00","891,775.00",34.84,70.88,294.35
41,2023,"Balears, Illes","589,575.00","67,850.00","375,950.00","1,033,375.00",77.50,102.53,416.09
42,2023,Canarias,"968,425.00","185,550.00","775,650.00","1,929,625.00",109.63,206.18,689.95
43,2023,Cantabria,"254,850.00","22,550.00","228,700.00","506,100.00",16.68,40.65,203.24
44,2023,Castilla - La Mancha,"895,075.00","136,275.00","729,350.00","1,760,700.00",45.66,181.74,686.79
45,2023,Castilla y León,"1,011,375.00","108,450.00","953,900.00","2,073,725.00",83.67,163.40,737.26
46,2023,Cataluña,"3,734,525.00","384,450.00","2,578,225.00","6,697,200.00",730.42,666.42,"2,368.22"
47,2023,Ceuta,"28,000.00","12,000.00","24,450.00","64,450.00",1.14,1.82,21.28
48,2023,Comunitat Valenciana,"2,304,100.00","338,125.00","1,821,125.00","4,463,350.00",297.91,458.83,"1,417.81"
49,2023,Extremadura,"415,250.00","87,275.00","399,450.00","901,975.00",35.14,68.71,286.55
50,2023,Galicia,"1,128,550.00","121,450.00","1,108,800.00","2,358,800.00",94.59,219.97,786.41
51,2023,"Madrid, Comunidad de","3,328,225.00","367,850.00","2,147,775.00","5,843,850.00",793.44,535.57,"1,976.99"
52,2023,Melilla,"26,775.00","9,725.00","29,375.00","65,875.00",2.63,7.45,23.63
53,2023,"Murcia, Región de","668,625.00","97,950.00","519,850.00","1,286,425.00",47.13,124.79,491.86
54,2023,"Navarra, Comunidad Foral de","298,725.00","33,000.00","232,575.00","564,300.00",36.40,51.92,194.14
55,2023,País Vasco,"995,750.00","83,375.00","818,725.00","1,897,850.00",131.90,243.12,609.28
56,2023,"Rioja, La","146,625.00","15,150.00","112,600.00","274,375.00",10.76,32.58,100.18

_________________________________________________________________________________________________________________________________________________________________________________

# CSV - GASTOS TRANSPORTES

_________________________________________________________________________________________________________________________________________________________________________________

In [15]:
#Expecificamos ruta gastos

url_gastos = r'https://raw.githubusercontent.com/cdeniaca/Group-7/refs/heads/main/Gastos_Transporte_Limpio.csv'

In [16]:
gasto_transporte_df = pd.read_csv(url_gastos,  sep=',')

In [17]:
gasto_transporte_df

    Comunidades_Autonomas     Sector            Tipo_Coste  Periodo  Total
0               Andalucía  Industria  Gastos en transporte     2023  22.59
1               Andalucía  Industria  Gastos en transporte     2022  19.65
2               Andalucía  Industria  Gastos en transporte     2021  17.36
3               Andalucía  Industria  Gastos en transporte     2020  17.02
4               Andalucía  Industria  Gastos en transporte     2019  22.43
..                    ...        ...                   ...      ...    ...
301             Rioja, La  Servicios  Gastos en transporte     2022   1.10
302             Rioja, La  Servicios  Gastos en transporte     2021   6.09
303             Rioja, La  Servicios  Gastos en transporte     2020   7.84
304             Rioja, La  Servicios  Gastos en transporte     2019   1.86
305             Rioja, La  Servicios  Gastos en transporte     2018   2.48

[306 rows x 5 columns]

In [19]:
# Filtrar para excluir "Ceuta y Melilla" en la columna "Comunidad autónoma" usando query
df_nuevo_agrupado_filtrado = población_agrupada_df.query("`Comunidad autónoma` != 'Ceuta y Melilla'")

In [20]:
# Convertir la columna 'AÑO' a tipo int en ambos DataFrames, o cambiar a str si prefieres.
df_nuevo_agrupado_filtrado['AÑO'] = df_nuevo_agrupado_filtrado['AÑO'].astype(int)
gasto_transporte_df['Periodo'] = gasto_transporte_df['Periodo'].astype(int)

In [21]:
gasto_transporte_df.rename(columns={'Comunidades_Autonomas': 'Comunidad autónoma'}, inplace=True)
gasto_transporte_df.rename(columns={'Periodo': 'AÑO'}, inplace=True)
gasto_transporte_df.rename(columns={'Total': 'Gastos en transporte unitarios'}, inplace=True)

In [22]:
df_final_gastos = pd.merge(df_nuevo_agrupado_filtrado, gasto_transporte_df, on=['Comunidad autónoma', 'AÑO'], how='inner')

In [23]:
df_final_gastos['Gasto total en transporte'] = df_final_gastos['Ocupados'] * df_final_gastos['Gastos en transporte unitarios']

In [24]:
df_final_gastos = df_final_gastos.drop(columns=['Tipo_Coste'])

In [25]:
df_final_gastos

,AÑO,Comunidad autónoma,Ocupados,Parados,Inactivos,Total Actividad,Sector,Gastos en transporte unitarios,Gasto total en transporte
0,2018,Andalucía,"3,030,750.00","904,625.00","2,983,100.00","6,918,475.00",Industria,37.15,"112,592,362.50"
1,2018,Andalucía,"3,030,750.00","904,625.00","2,983,100.00","6,918,475.00",Construcción,21.25,"64,403,437.50"
2,2018,Andalucía,"3,030,750.00","904,625.00","2,983,100.00","6,918,475.00",Servicios,3.39,"10,274,242.50"
3,2018,Aragón,"573,825.00","68,250.00","452,275.00","1,094,350.00",Industria,109.99,"63,115,011.75"
4,2018,Aragón,"573,825.00","68,250.00","452,275.00","1,094,350.00",Construcción,5.97,"3,425,735.25"
...,...,...,...,...,...,...,...,...,...
301,2023,País Vasco,"995,750.00","83,375.00","818,725.00","1,897,850.00",Construcción,30.82,"30,689,015.00"
302,2023,País Vasco,"995,750.00","83,375.00","818,725.00","1,897,850.00",Servicios,7.54,"7,507,955.00"
303,2023,"Rioja, La","146,625.00","15,150.00","112,600.00","274,375.00",Industria,16.48,"2,416,380.00"
304,2023,"Rioja, La","146,625.00","15,150.00","112,600.00","274,375.00",Construcción,11.38,"1,668,592.50"
305,2023,"Rioja, La","146,625.00","15,150.00","112,600.00","274,375.00",Servicios,7.70,"1,129,012.50"

_________________________________________________________________________________________________________________________________________________________________________________

# CSV - SALARIOS

_________________________________________________________________________________________________________________________________________________________________________________

In [26]:
#Expecificamos ruta salarios

url_salarios = r'https://raw.githubusercontent.com/cdeniaca/Group-7/refs/heads/main/Salarios_Limpio.csv'

In [27]:
salarios_df = pd.read_csv(url_salarios,  sep=',')

In [28]:
salarios_df['Periodo'] = salarios_df['Periodo'].astype(int)

In [29]:
# Convertir la columna 'Total'
salarios_df['Total'] = (
    salarios_df['Total']
    .astype(str)
    .str.replace('.', '', regex=False)  # Quitar el punto
    .str.replace(',', '.', regex=False)  # Cambiar la coma por punto
    .astype(float)  # Convertir a float
)

In [30]:
salarios_df.rename(columns={'Comunidades_Autonomas': 'Comunidad autónoma'}, inplace=True)
salarios_df.rename(columns={'Periodo': 'AÑO'}, inplace=True)
salarios_df.rename(columns={'Total': 'Sueldos y salarios unitarios'}, inplace=True)

In [31]:
df_final_salarios= pd.merge(df_nuevo_agrupado_filtrado, salarios_df, on=['Comunidad autónoma', 'AÑO'], how='inner')

In [32]:
df_final_salarios['Sueldos y salarios totales'] = df_final_salarios['Ocupados'] * df_final_salarios['Sueldos y salarios unitarios']

In [33]:
df_final_salarios = df_final_salarios.drop(columns=['Tipo_Coste'])

In [34]:
df_final_salarios

,AÑO,Comunidad autónoma,Ocupados,Parados,Inactivos,Total Actividad,Sector,Sueldos y salarios unitarios,Sueldos y salarios totales
0,2018,Andalucía,"3,030,750.00","904,625.00","2,983,100.00","6,918,475.00",Industria,"24,335.01","73,753,331,557.50"
1,2018,Andalucía,"3,030,750.00","904,625.00","2,983,100.00","6,918,475.00",Construcción,"20,853.79","63,202,624,042.50"
2,2018,Andalucía,"3,030,750.00","904,625.00","2,983,100.00","6,918,475.00",Servicios,"19,438.66","58,913,718,795.00"
3,2018,Aragón,"573,825.00","68,250.00","452,275.00","1,094,350.00",Industria,"26,716.39","15,330,532,491.75"
4,2018,Aragón,"573,825.00","68,250.00","452,275.00","1,094,350.00",Construcción,"23,471.18","13,468,349,863.50"
...,...,...,...,...,...,...,...,...,...
301,2023,País Vasco,"995,750.00","83,375.00","818,725.00","1,897,850.00",Construcción,"29,392.81","29,267,890,557.50"
302,2023,País Vasco,"995,750.00","83,375.00","818,725.00","1,897,850.00",Servicios,"28,236.98","28,116,972,835.00"
303,2023,"Rioja, La","146,625.00","15,150.00","112,600.00","274,375.00",Industria,"25,845.14","3,789,543,652.50"
304,2023,"Rioja, La","146,625.00","15,150.00","112,600.00","274,375.00",Construcción,"25,321.95","3,712,830,918.75"
305,2023,"Rioja, La","146,625.00","15,150.00","112,600.00","274,375.00",Servicios,"23,139.17","3,392,780,801.25"

_________________________________________________________________________________________________________________________________________________________________________

#  ACTIVIDAD, SALARIO Y GASTOS

_________________________________________________________________________________________________________________________________________________________________________

In [35]:
df_final_gst_salario= pd.merge(df_final_gastos, df_final_salarios, on=['Comunidad autónoma', 'AÑO', 'Sector', 'Ocupados', 'Parados', 'Inactivos', 'Total Actividad'], how='inner')

In [36]:
df_final_gst_salario

,AÑO,Comunidad autónoma,Ocupados,Parados,Inactivos,Total Actividad,Sector,Gastos en transporte unitarios,Gasto total en transporte,Sueldos y salarios unitarios,Sueldos y salarios totales
0,2018,Andalucía,"3,030,750.00","904,625.00","2,983,100.00","6,918,475.00",Industria,37.15,"112,592,362.50","24,335.01","73,753,331,557.50"
1,2018,Andalucía,"3,030,750.00","904,625.00","2,983,100.00","6,918,475.00",Construcción,21.25,"64,403,437.50","20,853.79","63,202,624,042.50"
2,2018,Andalucía,"3,030,750.00","904,625.00","2,983,100.00","6,918,475.00",Servicios,3.39,"10,274,242.50","19,438.66","58,913,718,795.00"
3,2018,Aragón,"573,825.00","68,250.00","452,275.00","1,094,350.00",Industria,109.99,"63,115,011.75","26,716.39","15,330,532,491.75"
4,2018,Aragón,"573,825.00","68,250.00","452,275.00","1,094,350.00",Construcción,5.97,"3,425,735.25","23,471.18","13,468,349,863.50"
...,...,...,...,...,...,...,...,...,...,...,...
301,2023,País Vasco,"995,750.00","83,375.00","818,725.00","1,897,850.00",Construcción,30.82,"30,689,015.00","29,392.81","29,267,890,557.50"
302,2023,País Vasco,"995,750.00","83,375.00","818,725.00","1,897,850.00",Servicios,7.54,"7,507,955.00","28,236.98","28,116,972,835.00"
303,2023,"Rioja, La","146,625.00","15,150.00","112,600.00","274,375.00",Industria,16.48,"2,416,380.00","25,845.14","3,789,543,652.50"
304,2023,"Rioja, La","146,625.00","15,150.00","112,600.00","274,375.00",Construcción,11.38,"1,668,592.50","25,321.95","3,712,830,918.75"
305,2023,"Rioja, La","146,625.00","15,150.00","112,600.00","274,375.00",Servicios,7.70,"1,129,012.50","23,139.17","3,392,780,801.25"

_________________________________________________________________________________________________________________________________________________________________________________

# CSV - NIVEL EDUCATIVO

_____________________________________________________________________________________________________________________________________________________________________________________________

In [115]:
#Expecificamos ruta salarios

url_nivel= r'https://raw.githubusercontent.com/cdeniaca/Group-7/refs/heads/main/niv_form_limpio.csv'

In [117]:
df_nivel = pd.read_csv(url_nivel,  sep=';')

_________________________________________________________________________________________________________________________________________________________________________________

#                                                                       CSV - ABANDONO ESTUDIOS

In [ ]:
#Expecificamos ruta salarios

url_abandono= r'salarios_df = pd.read_csv(url_nivel,  sep=',')'

In [ ]:
df_abandono = pd.read_csv(url_abandono,  sep=',')

In [ ]:
print(población_activa_df['Relación con la actividad en el trimestre actual'].unique())

_________________________________________________________________________________________________________________________________________________________________________

#                                                                       DATASET LIMPIOS

_________________________________________________________________________________________________________________________________________________________________________

In [37]:
df_final_gst_salario.to_csv('Poblacion_Salarios_Gastos.csv', index=False)

In [38]:
df_final_teletrabajo.to_csv('Poblacion_Final_Teletrabajo.csv', index=False)

___________________________________________________________________________________________________________________________________________________________________________________________________